@font-face {
    font-family: SFNSDisplay-Thin;
    src: url(fonts/SFNSDisplay-Thin.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 350px;
    height: 500px;
    border: 1px solid rgb(235, 236, 238);
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);

    display: flex; /* 자식 요소 : #display, .button_container */
    flex-direction: column;
}

#display {
    padding: 20px 20px 5px 20px;
    background-color: rgb(250, 251, 252);

    border: 1px solid rgb(235, 236, 238);
    border-radius: 20px 20px 0 0;

    height: 35%; /* 부모 요소 : .calculator */

    display: flex; /* 자식 요소 : #logo, #digit */
    flex-direction: column;
}

#display #logo {
    display: flex;
    align-items: center;
}

#display #logo img {
    width: 60px;
}

#display #digit {
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#display #digit span {
    font-size: 3rem;
}

.button_container {
    background-color: rgb(237, 238, 243);
    border: 1px solid rgb(235, 236, 238);
    border-radius: 0 0 20px 20px;
    padding: 20px 0 10px 0;

    height: 65%; /* 부모 요소 : .calculator */

    display: flex;
    flex-wrap: wrap;
}

.button_container div {
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 80%;
    height: 70%;
    font-family: SFNSDisplay-Thin;
    color: #6b707a;
    border: none;
    border-radius: 13px;
    background-color: rgb(250, 250, 252);
    box-shadow: inset 1px 1px 1px #ffffff,
        inset -1px -1px 1px rgba(111, 126, 145, 0.42);
    cursor: pointer;
}

button.operator {
    background-color: rgb(230, 233, 240);
}

#zero {
    width: 50%;
}

#equal button {
    background-color: rgb(90, 196, 88);
    color: #ffffff;
}

button:active {
    background-color: rgb(230, 233, 240);
    color: rgb(171, 174, 182);
}
